@font-face{
    font-family: 'Montserrat';
    src: url('./Montserrat-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat';
    src: url('./Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
}