/* Menu movil */
.navbar__mobile-btn{
    display: none;
}

.navbar__mobile-list{
    display: none;
}

@media (max-width: 1024px) {
    
    /* LAYOUT */

    .layout{
        width: 70%;
        min-width: 74rem;
        margin: 0 auto;
        grid-template-areas: 
        "header header"
        "nav nav"
        "marquee marquee"
        "slider slider"
        "high high"
        "videos videos"
        "carousel carousel"
        "main main"
        "aside aside"
    ;
    }

    /* CABECERA */

    .layout__header{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .navbar__list{
        display: none;
    }

        /* MENU MOVIL */

    .navbar__mobile-btn{
        display: flex;
    }

    .navbar__mobile-list{
        display: none;


        position: absolute;
        padding: 1.5rem;
        top: 98%;
        width: 100%;
        background-color: var(--color-bg-navbar);
        z-index: 99;
    }

    .mobile-list__item{
        width: 100%;
        padding: 0.5rem 2rem;
        border-bottom: 1px solid var(--color-border-list);
    }

    .mobile-list__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-list__link{
        display: block;
        width: 85%;
        font-weight: 400;
        line-height: 3rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        color: var(-color-principal);
    }

    .mobile-list__icon .fa-solid{
        color: var(--color-secondary);
        font-size: 1.6rem;
        font-weight: bold;
    }

    /* SUBMENU MOVIL */

    .mobile-list__msubmenu{
        display: none;
    }

    .msubmenu__item{
        padding-left: 4rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .msubmenu__link{
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 3rem;
        text-transform: uppercase;
    }

    /* SLIDER */

    .layout__slider{
        grid-template-areas: "slider1 slider3 slider3 slider3"
                             "slider2 slider3 slider3 slider3"
                             "slider4 slider4 slider5 slider5";
    }


 
    .slider__container--slider2{
        width: 100%;
        height: 16.8rem;
    }

    .slider__container--slider3{
        width: 100%;
        height: 33.8rem;
    }

    .slider__container--slider5{
        width: 100%;
        height: 23.6rem;
    }

    /*MEJORES MOMENTOS*/

    .highlights__posts{
        flex-wrap: wrap;
    }

    .highlights__post{
        width: calc(100% - 1.5rem);
    }

    /*VIDEOS*/
    .videos__container{
        flex-direction: column;
        gap: 0;
    }

    .videos__list{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .videos__video{
        width: calc(50% - 1rem);
    }
}