/* VARIABLES */
:root{
    --color-principal: #fff;
    --color-secondary: #329153;
    --color-bg-navbar: #333946;
    
}

/* ESTILOS GENERALES */

html{
    font-size: 10px;
}

body{
    width: 100%;
    height: 100%;
    font-family: "Montserrat", "Helvtecia Neue", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background-color: var(--color-principal);
}

/* BARRA DECORATIVA */

.decoration-bar{
    width: 100%;
    min-height: 2.5rem;
    background-color: var(--color-secondary);
}

/* ESTRUCTURA Y LAYOUT */

.layout{
    display: grid;
    grid-template-areas: 
        "header header"
        "nav nav"
        "marquee marquee"
        "slider slider"
        "high high"
        "videos videos"
        "carousel carousel"
        "main aside"
    ;
    grid-template-columns: 70% 30%;
    width: 55vw;
    min-width: 100rem;
    margin: 0 auto;
}

/* ESTILOS HEADR CABECERA */

.layout__header{
    grid-area: header;

    width: 100%;
    min-width: 100%;
    padding: 2rem 0;
}

.header__img{
    width: 17rem;
}

/* ESTILOS NAVEGACIÓN NAV */
.layout__nav{
    grid-area: nav;

    position: relative;
    width: 100%;
}

.nav__navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 5rem;
    max-height: 5rem;
    width: 100%;
    color: var(--color-principal);
    background-color: var(--color-bg-navbar);
}

.navbar__list{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar__item{
    height: 5rem;
}

.navbar__item:hover {
    background-color: var(--color-secondary);
}

.navbar__link{
    font-weight: 700;
    font-size: 1.3rem;
    padding: 1.5rem 1.5rem;
    color: var(--color-principal);
}

.navbar__search{
    display: flex;
    height: 100%;
}

.search__input{
    display: none;
    width: 20rem;
    height: 5rem;
    font-size: 1.6rem;
    background-color: var(--color-secondary);
    color: var(--color-principal);
    outline: none;
    border: none;
    transition: all 200ms ease-out;
}

.search__input::placeholder{
    color: var(--color-principal);
    padding: 0 0.5rem;
    opacity: 1;
}

.navbar__btn-search{
    background-color: var(--color-secondary);
    padding: 0.8rem 1.3rem;
    height: 5rem;
    display: flex;
    align-items: center;
}

.navbar__btn-search .fa-solid{
    curso: pointer;
    color: var(--color-principal);
    font-size: 2.7rem;
}

.navbar__submenu{
    display: none;
}

/* ESTILOS MARQUESINA MARQUEE */
.layout__marquee{
    grid-area: marquee;
}

/* ESTILOS SLIDER */
.layout__slider{
    grid-area: slider;
}

/* ESTILOS MEJORES MOMENTOS HIGHLIGHTS*/
.layout__highlights{
    grid-area: high;
}

/* ESTILOS VIDEOS */
.layout__videos{
    grid-area: videos;
}

/* ESTIILOS CAROUSEL CAROUSEL */
.layout__carousel-games{
    grid-area: carousel;
}

/* ESTILOS CONTENIDO PRINCIPAL MAIN */
.layout__main{
    grid-area: main;
}

/* ESTILOS BARRA LATERAL ASIDE */
.layout__aside{
    grid-area: aside;
}